:root {
    /* Textcolor */
    --normal: ;
    --fighting: ;
    --flying: ;
    --poison: ;
    --ground: ;
    --rock: ;
    --bug: ;
    --ghost: ;
    --steel: ;
    --fire: ;
    --water: ;
    --grass: ;
    --electric: ;
    --psychic: ;
    --ice: ;
    --dragon: ;
    --dark: ;
    --fairy: ;
    --unknown: ;
    --shadow: ;
    /* Backgroudncolor */
    --bgnormal: #B6B7A9;
    --bgfighting: #A55544;
    --bgflying: #7BA4FF;
    --bgpoison: #A85EA0;
    --bgground: #E9C958;
    --bgrock: #CEBC74;
    --bgbug: #C2D11E;
    --bgghost: #7975D4;
    --bgsteel: #C4C2D8;
    --bgfire: #FA5542;
    --bgwater: #55AEFE;
    --bggrass: #8CD851;
    --bgelectric: #FDE63E;
    --bgpsychic: #FA65B6;
    --bgice: #95F1FE;
    --bgdragon: #8972FF;
    --bgdark: #8C6754;
    --bgfairy: #FAADFF;
    --bgunknown: ;
    --bgshadow: ;
}

.typenormal {
    color: var();
    background-color: var(--bgnormal);
    border-radius: 10px;
    padding: 5px;
    border: solid 2px white;
    box-shadow: 0px 0px 10px 5px rgba(105, 104, 104, 0.2);
}

.typefighting {
    color: var();
    background-color: var(--bgfighting);
    border-radius: 10px;
    padding: 5px;
    border: solid 2px white;
    box-shadow: 0px 0px 10px 5px rgba(105, 104, 104, 0.2);
}

.typeflying {
    color: var();
    background-color: var(--bgflying);
    border-radius: 10px;
    padding: 5px;
    border: solid 2px white;
    box-shadow: 0px 0px 10px 5px rgba(105, 104, 104, 0.2);
}

.typepoison {
    color: var();
    background-color: var(--bgpoison);
    border-radius: 10px;
    padding: 5px;
    border: solid 2px white;
    box-shadow: 0px 0px 10px 5px rgba(105, 104, 104, 0.2);
}

.typeground {
    color: var();
    background-color: var(--bgground);
    border-radius: 10px;
    padding: 5px;
    border: solid 2px white;
    box-shadow: 0px 0px 10px 5px rgba(105, 104, 104, 0.2);
}

.typerock {
    color: var();
    background-color: var(--bgrock);
    border-radius: 10px;
    padding: 5px;
    border: solid 2px white;
    box-shadow: 0px 0px 10px 5px rgba(105, 104, 104, 0.2);
}

.typebug {
    color: var();
    background-color: var(--bgbug);
    border-radius: 10px;
    padding: 5px;
    border: solid 2px white;
    box-shadow: 0px 0px 10px 5px rgba(105, 104, 104, 0.2);
}

.typeghost {
    color: var();
    background-color: var(--bgghost);
    border-radius: 10px;
    padding: 5px;
    border: solid 2px white;
    box-shadow: 0px 0px 10px 5px rgba(105, 104, 104, 0.2);
}

.typesteel {
    color: var();
    background-color: var(--bgsteel);
    border-radius: 10px;
    padding: 5px;
    border: solid 2px white;
    box-shadow: 0px 0px 10px 5px rgba(105, 104, 104, 0.2);
}

.typefire {
    color: var();
    background-color: var(--bgfire);
    border-radius: 10px;
    padding: 5px;
    border: solid 2px white;
    box-shadow: 0px 0px 10px 5px rgba(105, 104, 104, 0.2);
}

.typewater {
    color: var();
    background-color: var(--bgwater);
    border-radius: 10px;
    padding: 5px;
    border: solid 2px white;
    box-shadow: 0px 0px 10px 5px rgba(105, 104, 104, 0.2);
}

.typegrass {
    color: var();
    background-color: var(--bggrass);
    border-radius: 10px;
    padding: 5px;
    border: solid 2px white;
    box-shadow: 0px 0px 10px 5px rgba(105, 104, 104, 0.2);
}

.typeelectric {
    color: var();
    background-color: var(--bgelectric);
    border-radius: 10px;
    padding: 5px;
    border: solid 2px white;
    box-shadow: 0px 0px 10px 5px rgba(105, 104, 104, 0.2);
}

.typepsychic {
    color: var();
    background-color: var(--bgpsychic);
    border-radius: 10px;
    padding: 5px;
    border: solid 2px white;
    box-shadow: 0px 0px 10px 5px rgba(105, 104, 104, 0.2);
}

.typeice {
    color: var();
    background-color: var(--bgice);
    border-radius: 10px;
    padding: 5px;
    border: solid 2px white;
    box-shadow: 0px 0px 10px 5px rgba(105, 104, 104, 0.2);
}

.typedragon {
    color: var();
    background-color: var(--bgdragon);
    border-radius: 10px;
    padding: 5px;
    border: solid 2px white;
    box-shadow: 0px 0px 10px 5px rgba(105, 104, 104, 0.2);
}

.typedark {
    color: var();
    background-color: var(--bgdark);
    border-radius: 10px;
    padding: 5px;
    border: solid 2px white;
    box-shadow: 0px 0px 10px 5px rgba(105, 104, 104, 0.2);
}

.typefairy {
    color: var();
    background-color: var(--bgfairy);
    border-radius: 10px;
    padding: 5px;
    border: solid 2px white;
    box-shadow: 0px 0px 10px 5px rgba(105, 104, 104, 0.2);
}

.typeunknown {
    color: var();
    background-color: var();
    border-radius: 10px;
    padding: 5px;
    border: solid 2px white;
    box-shadow: 0px 0px 10px 5px rgba(105, 104, 104, 0.2);
}

.typeshadow {
    color: var();
    background-color: var();
    border-radius: 10px;
    padding: 5px;
    border: solid 2px white;
    box-shadow: 0px 0px 10px 5px rgba(105, 104, 104, 0.2);
}


/* Background img */

.typenormalbg {
    background-image: url(img/backgrounds/normal.png);
    background-position: center;
    background-size: cover;
}

.typefightingbg {
    background-image: url(img/backgrounds/fighting.png);
    background-position: center;
    background-size: cover;
}

.typeflyingbg {
    background-image: url(img/backgrounds/flying.png);
    background-position: center;
    background-size: cover;
}

.typepoisonbg {
    background-image: url(img/backgrounds/poison.png);
    background-position: center;
    background-size: cover;
}

.typegroundbg {
    background-image: url(img/backgrounds/ground.png);
    background-position: center;
    background-size: cover;
}

.typerockbg {
    background-image: url(img/backgrounds/rock.png);
    background-position: center;
    background-size: cover;
}

.typebugbg {
    background-image: url(img/backgrounds/bug.png);
    background-position: center;
    background-size: cover;
}

.typeghostbg {
    background-image: url(img/backgrounds/ghost.png);
    background-position: center;
    background-size: cover;
}

.typesteelbg {
    background-image: url(img/backgrounds/steel.png);
    background-position: center;
    background-size: cover;
}

.typefirebg {
    background-image: url(img/backgrounds/fire.png);
    background-position: center;
    background-size: cover;
}

.typewaterbg {
    background-image: url(img/backgrounds/water.png);
    background-position: center;
    background-size: cover;
}

.typegrassbg {
    background-image: url(img/backgrounds/grass.png);
    background-position: center;
    background-size: cover;
}

.typeelectricbg {
    background-image: url(img/backgrounds/electric.png);
    background-position: center;
    background-size: cover;
}

.typepsychicbg {
    background-image: url(img/backgrounds/psychic.png);
    background-position: center;
    background-size: cover;
}

.typeicebg {
    background-image: url(img/backgrounds/ice.png);
    background-position: center;
    background-size: cover;
}

.typedragonbg {
    background-image: url(img/backgrounds/dragon.png);
    background-position: center;
    background-size: cover;
}

.typedarkbg {
    background-image: url(img/backgrounds/dark.png);
    background-position: center;
    background-size: cover;
}

.typefairybg {
    background-image: url(img/backgrounds/fairy.png);
    background-position: center;
    background-size: cover;
}

.typeunknownbg {}

.typeshadowbg {}